body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;

}
button {
    background-color: rgb(81, 185, 227);
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}
